
<div id="fh5co-page">

  <div class="back-to-home btn-circle">
    <a href="/index.html"><span>Back</span><em>Back</em></a>
  </div>

  <div class="container-fluid" id="fh5co-image-grid">
    <div class="grid">
      <div class="grid-sizer"></div>

      <% unless @gallery.photos.nil? %>
          <% @gallery.photos.each do |photo| %>
                <div class="grid-item item">
                  <!--<div class="grid-item item animate-box" data-animate-effect="fadeIn">-->
                <a href="<%= photo.url %>?imageMogr2/auto-orient" class="image-popup"
                   title="<%= photo.title %>"
                   exif="<%= photo.exif %>"
                   description="<%= photo.description %>">
                  <div class="img-wrap">
                    <img src="<%= photo.url %>?imageView2/2/w/600/h/600/interlace/0/q/60" alt="" class="img-responsive">
                  </div>
                  <div class="text-wrap">
                    <div class="text-inner popup">
                      <div>
                        <h2><%= photo.title %></h2>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
          <% end %>
      <% end %>

    </div>
  </div>

</div>