<div class="container-fluid">
<div>
  <h1>网站设置</h1>
</div>

<%= form_tag('/manager/edit_settings', method: 'post') do |f| %>
    <div class="form-group">
      <label>管理员密码</label>
      <input class="form-control" name="password" value="<%= Settings.get('admin','password') %>"/>
    </div>
    <div class="form-group">
      <label>七牛base_urly</label>
      <input class="form-control" name="qn_base_url" value="<%= Settings.get('qiniu','base_url') %>"/>
    </div>
    <div class="form-group">
      <label>七牛access_key</label>
      <input class="form-control" name="qn_access_key" value="<%= Settings.get('qiniu','access_key') %>"/>
    </div>
    <div class="form-group">
      <label>七牛secret_key</label>
      <input class="form-control" name="qn_secret_key" value="<%= Settings.get('qiniu','secret_key') %>"/>
    </div>
    <div class="form-group">
      <label>阿里云id</label>
      <input class="form-control" name="access_key_id" value="<%= Settings.get('aliyun','access_key_id') %>"/>
    </div>
    <div class="form-group">
      <label>阿里云secret</label>
      <input class="form-control" name="access_key_secret" value="<%= Settings.get('aliyun','access_key_secret') %>"/>
    </div>
    <div class="form-group">
      <label>阿里云endpoint</label>
      <input class="form-control" name="endpoint" value="<%= Settings.get('aliyun','endpoint') %>"/>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6">
        <button type="submit" class="btn btn-primary btn-block">保存</button>
      </div>
    </div>
<% end %>
</div>