<ul>
<% @posts.each do |post| %>
 <li>
   <h4><a href="/articles/<%= post.id %>"><%=h post.title %></a></h4>
   <p class="text-muted"><%= post.body.gsub(/<\/?.*?>/,"")[0,80] %></p>
   <p>Created: <%=h post.created_at %></p>
 </li>
<% end %>
</ul>
<nav>
  <ul class="pager">
    <li <%= @pre_class %> ><a <%= @pre_no %> >Previous</a></li>
    <li <%= @nxt_class %> ><a <%= @nxt_no %> >Next</a></li>
  </ul>
</nav>