<ul>
<% @posts.each do |post| %>
 <li>
   <h4><a href="/articles/<%= post.id %>"><%=h post.title %></a></h4>
   <p class="text-muted"><%= post.body.gsub(/<\/?.*?>/,"")[0,80] %></p>
   <p>Created: <%=h post.created_at %></p>
 </li>
<% end %>
</ul>
<nav>
  <ul class="pager">
    <li><a <%=h @pre_class %> href="/<%=h @pre_no %>">Previous</a></li>
    <li><a <%=h @nxt_class %> href="/<%=h @nxt_no %>">Next</a></li>
  </ul>
</nav>