
<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>相册管理</h1>

  <table class="table table-bordered">
    <thead>
    <tr class="active">
      <th>Title</th>
      <th>Cover</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @galleries.each do |gallery| %>
        <tr>
          <td><%= gallery.title %></td>
          <td>
            <div>
              <img height="100" src="<%= gallery.cover %>-view"/>
            </div>
          </td>
          <td><%= gallery.description %></td>
          <!--<td><%= link_to 'Show', gallery %></td>-->
          <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
          <td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Gallery', new_gallery_path, :class => 'btn btn-primary',:role => 'button' %>
</div>