
<div id="fh5co-page">

  <div class="back-to-home btn-circle">
    <a href="/index.html"><span>Back</span><em>Back</em></a>
  </div>

  <div class="container-fluid" id="fh5co-image-grid">
    <div class="grid" style="position: relative; height: 2325.56px;">
      <div class="grid-sizer"></div>

      <% unless @gallery.photos.nil? %>
          <% @gallery.photos.each do |photo| %>
              <div class="grid-item item animate-box fadeIn animated-fast" data-animate-effect="fadeIn" style="position: absolute; left: 0%; top: 0px;">
                <a href="<%= photo.url %>" class="image-popup"
                   title="<%= photo.title %>"
                   exif="<%= photo.exif %>"
                   description="<%= photo.description %>">
                  <div class="img-wrap">
                    <img src="<%= photo.url %>" alt="" class="img-responsive">
                  </div>
                  <div class="text-wrap">
                    <div class="text-inner popup">
                      <div>
                        <h2><%= photo.title %></h2>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
          <% end %>
      <% end %>

    </div>
  </div>

</div>